/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    background-color: #1e88e5; /* Materialize primary color */
}

.content {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
}

td, th {
    padding: 10px;
}

.collapse-content {
    display: none;
}

.show-more {
    cursor: pointer;
    color: #1e88e5;
    text-decoration: underline;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 0 10px;
}

.pagination span {
    margin: 0 10px;
}

.bubule_spacing {
    padding-top: 2rem;
}
