/* static/style.css */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #BB86FC;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    text-align: center;
    background-color: #333;
    color: #afafaf;
}

tr:hover {
    background-color: #1F1F1F;
}

a {
    color: #1fcfff;
    text-decoration: none;
}

.centreKar{
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.clicked {
    color: #888;
    background-color: #1F1F1F;
    text-decoration: line-through;
}
