<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saral Apply</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="heading">
        <h1 class="saralApply">SARAL APPLY</h1>
    </div>
    <div class="container">
        <div class="components">
            <form method="post" action="{{ url_for('index') }}">
                <input type="hidden" name="current_index" value="{{ current_index }}">
                {% for key, value in data.items() %}
                    {% if key == current_question %}
                        <div class="text">{{ key }}</div>
                        {% if 'options' in value %}
                            <div class="segmented-control">
                            {% for option in value['options'][1:] %}
                                <div class="optionBox"><div class="btn btn__secondary" name="{{ key }}"><p>{{ option}}</p></div></div>
                            {% endfor %}
                            <div class="segmented-control__color"></div>
                            </div>
                        {% else %}
                            <div class="form"><input type="text" id="inputField" class="form__input" name="{{ key }}" value="{{ value['answer'] }}" placeholder="{{ value['answer'] }}"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="navigatonButtons">
                    {% if current_index > 0 %}
                        <div class="backButton"><div class="btn btn__primary"><p class="navButton" onclick="moveTo('back')" style="font-size: 1.2rem; color: rgb(255, 69, 69);">BACK</p></div></div>
                    {% endif %}
                    <div class="skipButton"><div class="btn btn__primary" onclick="moveTo('skip')"><p class="navButton" style="font-size: 1.2rem; color:rgb(95, 159, 255)">SKIP</p></div></div>
                    <div class="nextButton">
                        <div class="btn btn__primary" onclick="moveTo('next')"><p class="navButton" style="font-size: 1.2rem; color:rgb(78, 78, 78)">NEXT</p></div></div>
                </div>
                
            </form>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("inputField").focus();
            document.getElementById("inputField").select();
        });
    
        function moveTo(direction) {
            // Set the hidden input value to indicate the navigation direction
            const hiddenInput = document.querySelector('input[name="current_index"]');
            hiddenInput.value = direction;
    
            // Submit the form
            document.querySelector('form').submit();
        }
    </script>
    
    
    
</body>
</html>
